<!DOCTYPE html>
<html>
<head>
  <title>Speedtest</title>
  <link rel="stylesheet" href="stylesheets/dseg.css">
  <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
  <article id="container">
    <section id="background">
      {{{svg}}}
    </section>
    <section id="info">
      <button class="startTest">{{{power}}}</button>
      <div class="speedLabel">Speed:</div>
      <div class="speedBack">~~.~.</div>
      <div class="speed"></div>
      <div class="progressBarBack">~~~~~~~~~~~~~~~~~~~~~~</div>
      <div class="progressBar"></div>
      <div class="unitLabels">
        <div class="unitLabel label-bps">b/s</div>
        <div class="unitLabel label-kbps">kb/s</div>
        <div class="unitLabel label-mbps">Mb/s</div>
        <div class="unitLabel label-gbps">Gb/s</div>
        <div class="unitLabel label-tbps">Tb/s</div>
      </div>
    </section>
  </article>

<h2 id="aSpeedContainer">Avg Speed: <span id="aSpeed"></span></h2>

<script src="javascripts/scale.js"></script>
<script src="javascripts/download.js"></script>
<script src="javascripts/ui.js"></script>
</body>
</html>
