<!DOCTYPE html>
<html>
<head>
  <title>Speedtest</title>
  <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
  <section id="container">
    <h1>Speedtest</h1>
    <button id="startTest">Start</button>
    <h2>Speed: <span id="speed"></span></h2>
    <h2>Average Speed: <span id="aSpeed"></span></h2>
    <script src="javascripts/scale.js"></script>
    <script src="javascripts/download.js"></script>
    <script src="javascripts/ui.js"></script>
  </section>
</body>
</html>
